---
layout: default
---
<div class="container pt-3">
    <span>We hope you enjoy these candid video memories of Marissa, her friends, and the places and things she loved. If you have a video you'd like to share here, please email it to <a href="mailto:inmemoryofmarissa@gmail.com">inmemoryofmarissa@gmail.com</a>.</span>
    <hr>
    {% include service-embed.html %}
    {% include memorial.html %}
    {% include prelude.html %}
    <div class="row">
      <div class="col-lg-6 pt-3">
        {% include ashlynntiktok.html %}
      </div>
      <div class="col-lg-6 pt-3">
        {% include marissainsta.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pt-3">
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@krusekontrol/video/6881697873713466629" data-video-id="6881697873713466629" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@krusekontrol" href="https://www.tiktok.com/@krusekontrol">@krusekontrol</a> <p>you left the biggest hole M</p> <a target="_blank" title="♬ original sound - stormytay" href="https://www.tiktok.com/music/original-sound-246209069521543168">♬ original sound - stormytay</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
      <div class="col-lg-6 pt-3">
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@krusekontrol/video/6921496376119430405" data-video-id="6921496376119430405" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@krusekontrol" href="https://www.tiktok.com/@krusekontrol">@krusekontrol</a> <p>happy 1st heavenly birthday to the most angelic human i’ve ever met. you were rare M, so full of life and the most pure love. ily more, always 🤍</p> <a target="_blank" title="♬ Wait - M83" href="https://www.tiktok.com/music/Wait-224460776718422016">♬ Wait - M83</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pt-3">
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ashlynnstewart1/video/6921454883090582790" data-video-id="6921454883090582790" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ashlynnstewart1" href="https://www.tiktok.com/@ashlynnstewart1">@ashlynnstewart1</a> <p><a title="greenscreenvideo" target="_blank" href="https://www.tiktok.com/tag/greenscreenvideo">##greenscreenvideo</a> happy 1st heavenly birthday to my person. I hope everyone celebrate life a little extra today. I love u. <a title="myangel" target="_blank" href="https://www.tiktok.com/tag/myangel">##myangel</a></p> <a target="_blank" title="♬ Ellen life is short - catherine" href="https://www.tiktok.com/music/Ellen-life-is-short-6787025341022997254">♬ Ellen life is short - catherine</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
      <div class="col-lg-6 pt-3">
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ashlynnstewart1/video/6914511787391978758" data-video-id="6914511787391978758" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ashlynnstewart1" href="https://www.tiktok.com/@ashlynnstewart1">@ashlynnstewart1</a> <p>Missing my person a little extra today. Wish you were here to see it all with me. <a title="myangel" target="_blank" href="https://www.tiktok.com/tag/myangel">##myangel</a></p> <a target="_blank" title="♬ original sound - Favss Audios" href="https://www.tiktok.com/music/original-sound-6895489321403435781">♬ original sound - Favss Audios</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
    </div>
</div>
