<nav class="navbar navbar-expand-lg navbar-light">
  <a href="{{site.github.url}}/" class="navbar-brand mb-0 h1">In Memory of Marissa</a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{site.github.url}}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.github.url}}/visitation">Visiting Marissa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.github.url}}/videos">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.github.url}}/photos">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.github.url}}/news">News</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="{{site.github.url}}/posts">Posts</a>
      </li>

      -->
    </ul>
  </div>
</nav>
