<div class="embed-responsive embed-responsive-16by9">
  <!-- https://livestream.com/chbcmustang/events/9339252 -->
  <iframe class="embed-responsive-item" allowfullscreen src="https://livestream.com/accounts/10308810/events/9339252/player?width=960&height=540&enableInfoAndActivity=true&defaultDrawer=feed&autoPlay=true&mute=false"></iframe>
</div>
<div class="text-center" style="padding-top: 10px">
  <a class="btn btn-outline-primary" href="{{site.github.url}}/program" >Click here to view and download the funeral program.</a>
</div>